@import "https://rsms.me/inter/inter.css";

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.padded {
    padding: 6rem 2rem;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.controls {
    height: 40px;
    padding: 1rem;
}

.body {
    display: flex;
    height: 100%;
    width: 100%;
}

.pad {
    height: 100%;
    width: 100%;
    background-color: red;
}

.preview {
    z-index: 99;
    position: absolute;
    background-color: white;
    top: 0;
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    .close {
        position: absolute;
        z-index: 50;
        padding: 1rem;
        top: 0;
        right: 0;
    }
}